<!DOCTYPE html>
<html>
  <head>
    <title>Copisteria Ainhoa</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>
      .tinta {
        width: 50px;
        height: 50px;
        float: left;
        padding: 5px;
      }
      #impresoras {
        width: 100%;
        padding-left: 200px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Copisteria Julian</h1>
        <p>Usa la impresora que mejor te vaya!</p>
      </div>
      <div class="row">
        <h3>Hoja: <span id="spanContador">0</span></h3>
        <p>Introduce la impresora y el texto a imprimir</p>
        <form
          class="form-inline"
          id="formulario"
          action="index.php"
          method="get"
          role="form"
        >
          Impresora:
          <select class="form-control" name="n_impresora" id="impresoraSelect">
            <option value="1">Impresora1</option>
            <option value="2">Impresora2</option>
            <option value="3">Impresora3</option>
          </select>
          <textarea
            class="form-control"
            id="hoja"
            rows="4"
            name="texto"
          ></textarea>
          <button id="btn" type="button">Imprimir</button>
        </form>
      </div>
    </div>
    <div id="impresoras"></div>
    <script defer>
      const impresoraSelect = document.getElementById("impresoraSelect");
      const formulario = document.getElementById("formulario");
      const btn = document.getElementById("btn");
      const impresoras = document.getElementById("impresoras");
      let spanContador = document.getElementById("spanContador");
      let counter = 1;

      const getImpresoras = async () => {
        impresoras.innerHTML = "";
        const res = await fetch("/copisteria", {
          method: "GET",
        });
        const data = await res.json();
        console.log(data);
        data.forEach(async (impresora) => {
          let listaHTML = "";
          const id = impresora.id;
          console.log(id);
          const queue = JSON.parse(sessionStorage.getItem(`cola-${id}`)) || [];
          if (queue.length > 0) {
            listaHTML = queue
              .map((item) => {
                if (item !== "") {
                  return `<li>${item}</li>`;
                }
              })
              .join("");
          }
          impresoras.innerHTML += `
    <div class="col-sm-4">
      <div class="row">
        <a href="#" id="cola-${id}" onclick="imprimirCola(${id})"><img src="/images/${id}.jpg" alt="Procesa cola"></a>
      </div>
      <div class="row">
        <div class="toner">
          <div class="tinta" style="background-color:black">${impresora.negro}%</div>
          <div class="tinta" style="background-color:yellow">${impresora.amarillo}%</div>
          <div class="tinta" style="background-color:cyan">${impresora.cian}%</div>
          <div class="tinta" style="background-color:magenta">${impresora.magenta}%</div>
        </div>
      </div>
      <div class="row">
        <ul class="list-group" id="impresora-${id}">
          ${listaHTML}
        </ul>
      </div>
    </div>
    `;
        });
      };

      btn.addEventListener("click", (e) => {
        e.preventDefault();
        const impresora = impresoraSelect.value;
        const hoja = document.getElementById("hoja").value;
        if (hoja) {
          const impcola = document.getElementById(`impresora-${impresora}`);
          let queue =
            JSON.parse(sessionStorage.getItem(`cola-${impresora}`)) || [];
          queue.push(hoja);
          sessionStorage.setItem(`cola-${impresora}`, JSON.stringify(queue));
          impcola.innerHTML = queue
            .map((item) => {
              if (item !== "") {
                return `<li>${item}</li>`;
              }
            })
            .join("");
        }
      });

      const imprimirCola = async (id) => {
        let arrData = [];
        const impcola = document.getElementById(`impresora-${id}`);
        const res = await fetch(`/copisteria/${id}`, {
          method: "GET",
        });
        const data = await res.json();
        console.log(data);
        arrData.push(data);
        const queue = JSON.parse(sessionStorage.getItem(`cola-${id}`)) || [];
        let palabra;
        if (queue.length > 0) {
          palabra = queue[0];
          const newQueue = queue.slice(1);
          sessionStorage.setItem(`cola-${id}`, JSON.stringify(newQueue));

          const listaItems = impcola.getElementsByTagName("li");
          impcola.removeChild(listaItems[0]);

          arrData.forEach((impresora) => {
            impresora.negro -= palabra.length * 1.2;
            impresora.amarillo -= palabra.length * 0.2;
            impresora.cian -= palabra.length * 0.5;
            impresora.magenta -= palabra.length * 0.7;
          });
        }

        const res2 = await fetch(`/copisteria/${id}`, {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
            // 'Content-Type': 'application/x-www-form-urlencoded',
          },
          body: JSON.stringify(arrData[0]),
        });

        spanContador.innerHTML = counter++;

        getImpresoras();
      };

      getImpresoras();
    </script>
  </body>
</html>
